<button class="btn btn-default btn-fab" data-toggle="modal" data-target="#complete-dialog"><i class="material-icons">add</i>
    <div class="ripple-container"></div>
</button>
<div id="complete-dialog" class="modal fade in" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Todo追加</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>TodoListに追加しましょう。</legend>
                        <div class="form-group">
                            <label for="inputTodo" class="col-md-2 control-label">Todo</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" id="input-todo" placeholder="Todo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputTodo" class="col-md-2 control-label">Limit Date</label>
                            <div class="col-md-10">
                                <input type="date" class="form-control" id="input-limit-date" placeholder="limitDate">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-ok btn btn-primary" data-dismiss="modal">OK
                    <div class="ripple-container">
                        <div class="ripple ripple-on ripple-out" style="left: 45.6563px; top: 16px; transform: scale(10.875); background-color: rgb(0, 150, 136);"></div>
                    </div>
                </button>
                <button type="button" class="btn-cancel btn btn-primary" data-dismiss="modal">Cancel
                    <div class="ripple-container">
                        <div class="ripple ripple-on ripple-out" style="left: 45.6563px; top: 16px; transform: scale(10.875); background-color: rgb(0, 150, 136);"></div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
