<td>かいもの</td>
<td>2016/1/1</td>
<td class="btn-group-sm">
    <button class="btn btn-danger btn-fab"><i class="material-icons">remove</i>
        <div class="ripple-container"></div>
    </button>
</td>
