<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Todoリスト</span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <!-- Colored FAB button -->
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                    <i class="material-icons">add</i>
                </button>
            </div>
            <div class="mdl-grid">
                <div id="todo-grid-table" class="mdl-cell mdl-cell--12-col">
                </div>
            </div>
        </div>
    </main>
</div>
